<div>

    <h2>Grant user permission</h2>

    <form id="fmGrantUserPermission">
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" aria-describedby="username">
        </div>

        <div class="mb-3">
            <label for="table" class="form-label">Table</label>
            <select id="listTable" class="form-select" aria-label="table">
                <option disabled selected>Open this select table </option>
                <option value="CHAMCONG">CHAMCONG</option>
                <option value="BENHNHAN">BENHNHAN</option>
                <option value="HOSOBENHNHAN">HOSOBENHNHAN</option>
                <option value="HOSODICHVU">HOSODICHVU</option>

                <option value="HOADON">HOADON</option>
                <option value="NHANVIEN">NHANVIEN</option>
                <option value="DONVI">DONVI</option>
                <option value="DONTHUOC">DONTHUOC</option>



                <option value="DICHVU">DICHVU</option>
                <option value="CTHOADON">CTHOADON</option>
                <option value="CTDONTHUOC">CTDONTHUOC</option>
                <option value="THUOC">THUOC</option>


            </select>
        </div>

        <div class="mb-3">
            <label for="privileges" class="form-label">Privileges</label>
            <select id="listPrivileges" class="form-select" aria-label="privileges">
                <option disabled selected>Open this select privilege </option>
                <option value="select">Select</option>
                <option value="insert">Insert</option>
                <option value="update">Update</option>
                <option value="delete">Delete</option>

            </select>
        </div>

        <button type="submit" class="btn btn-primary">Grant</button>
    </form>

</div>

{{#section 'js'}}

<script>

    function grantUserPermission() {
        const fmGrantUserPermission = $("#fmGrantUserPermission");
        const username = $("#username");
        const listPrivileges = $("#listPrivileges");
        const listTable = $("#listTable");


        fmGrantUserPermission.on("submit", function (e) {
            e.preventDefault();
            const data = {
                username: username.val(),
                privilege: listPrivileges.val(),
                tableName: listTable.val()
            }
            console.log(data);
            $.ajax({
                url: "http://localhost:1212/grant-user-permission",
                type: "post",
                data: data,
                success: res => {
                    alert("Granted!")
                },
                error: e => {
                    console.log(e);
                    alert("Something when wrong!");

                }
            })

        })
    }

    grantUserPermission();

</script>

{{/section}}