<div>

    <h2>Create Role</h2>


    <form id="fmCreateRole">
        <div class="mb-3">
            <label for="rolename" class="form-label">Role name</label>
            <input type="text" class="form-control" id="rolename" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="identify" class="form-label">Identify by</label>
            <input type="text" class="form-control" id="identify">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>



</div>

{{#section 'js'}}

<script>
    function createRole() {
        const fmCreateRole = $("#fmCreateRole");
        const rolename = $("#rolename");
        const identify = $("#identify");

        fmCreateRole.on("submit", function (e) {
            e.preventDefault();

            const data = {
                rolename: rolename.val(),
                identify: identify.val()
            }


            $.ajax({
                url: "http://localhost:1212/create-role",
                type: "post",
                data: data,
                success: data => {
                    alert("Created!")
                },
                error: e => {
                    alert("Something when wrong!")
                }

            })
        })

    }
    createRole();
</script>

{{/section}}