<div>

    <h2>Update Role</h2>

    <form id="fmUpdateRole">

        <div class="mb-3">
            <label for="listRoleName" class="form-label">
                Role name
            </label>
            <select id="listRoleName" class="form-select" aria-label="listRoleName">
                <option disabled selected>Open this select table </option>

                {{#each rolenames }}
                <option value="{{this.ROLE}}">
                    {{this.ROLE}}
                </option>
                {{/each}}

            </select>
        </div>

        <div class="mb-3">
            <label for="newPassword" class="form-label">New identify</label>
            <input type="text" class="form-control" id="newPassword">
        </div>

        <button type="submit" class="btn btn-primary">Edited</button>
    </form>

</div>

{{#section 'js'}}

<script>
    function updateRole() {
        const fmUpdateRole = $("#fmUpdateRole");
        const listRoleName = $("#listRoleName");
        const newPassword = $("#newPassword");



        fmUpdateRole.on("submit", function (e) {
            e.preventDefault();
            const data = {
                rolename: listRoleName.val(),
                newPassword: newPassword.val()
            }
            console.log(data);



            $.ajax({
                url: "http://localhost:1212/update-role",
                type: "patch",
                data: data,
                success: res => {
                    alert("updated!")
                },
                error: e => {
                    console.log(e);
                    alert("Something when wrong!!");

                }
            })

        })
    }

    updateRole();
</script>

{{/section}}